:root {
    --main-color: #2cc0a6;
    --second-color: #337ab7;
    --main-border: 1px solid var(--border-color);
    --border-color: #c5c5c5;
    --background-color: #f1f1f1;
    --main-font: 'Roboto', serif;
}

header {
    background: var(--main-color);
    font-size: 30px;
    color: white;
    font-family: var(--main-font);
    font-weight: bold;
    text-align: left;
    height: 70px;
}

footer {
    background: var(--main-color);
    font-size: 10px;
    color: white;
    font-family: var(--main-font);
    font-weight: lighter;
    text-align: center;
}

nav {
    font-weight: bolder;
    font-size: 15px;
    color: black;
    width: 200px;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    min-height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

/* HEADER */
header .logo {
    vertical-align: center;
    height: 70px;
    padding: 10px;
    display: inline-block;
}

header .text {
    color: white;
    display: inline-block;
}

/* HOME PAGE */
.home {
    background: var(--main-color);
    position: relative;
    height: 300px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: var(--main-font);
}

.home .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-icon {
    height: 80px;
}

/* DOCTOR LIST PAGE */
.specialty-drop-down {
    text-align: center;
    margin: 20px;
}

.doctor-list {
    padding: 15px;
    margin: 20px;
    border: var(--main-border);
    max-height: 200px;
}

.doctor-list .doctor-name {
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
}

.doctor-list .doctor-avatar {
    height: 100px;
    border-radius: 50%;
    border-width: 2px;
}

.doctor-list .doctor-info {
    vertical-align: top;
    display: inline-block;
    padding-left: 10px;
}

/* APPOINTMENT LIST */
.appointment-table {
    margin: auto;
    display: table;
}

.appointment-table .arrows {
    height: 20px;
    margin-top: 15px;
}

.appointment-table .appointments {
    display: inline-flex;
}

.appointments-on-day {
    text-align: center;
    vertical-align: top;
    margin: 5px;
    width: 90px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.appointments-on-day .date {
    font-size: 15px;
    font-stretch: expanded;
    font-family: var(--main-font);
    padding: 10px;
    flex: 1 auto;
}

.appointments-on-day .weekday {
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    background: var(--background-color);
}

.appointments-on-day .weekend {
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    background: var(--border-color);
}

.appointments-on-day .book-btn {
    margin: 3px;
    border: white;
    width: 70px;
    horiz-align: center;
    color: var(--second-color);
    font-weight: bolder;
}

.appointments-on-day .appointment {
    display: inline-block;
    padding: 1px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 2px;
    width: 70px;
    horiz-align: center;
    font-weight: bolder;
}

.appointments-on-day .available {
    color: var(--second-color);
    background: white;
}

.appointments-on-day .not-available {
    color: white;
    background: var(--second-color);
}

.appointments-on-day .add-btn {
    height: 30px;
    flex: 1 auto;
    margin: 10px;
}

/* PROFILE PAGE*/
.profile .avatar {
    height: 200px;
    border-radius: 50%;
    border-width: 2px;
}

.profile .name {
    font-size: 30px;
    font-weight: bolder;
    padding-right: 10px;
}

.profile .info {
    vertical-align: top;
    display: inline-block;
    padding-left: 10px;
}

.profile .info .title {
    width: 120px;
}

/* DOCTOR PROFILE PAGE */
.doctor .specialty {
    font-size: 20px;
}

/* PROFILE PAGE APPOINTMENT LIST */
.profile .appointment-list {
    background: var(--background-color);
    padding: 20px;
    width: 100%;
}

.profile .appointment-list .appointment {
    padding: 5px;
    width: 100%;
    background: white;
}

.profile .appointment-list .appointment:not(:last-of-type) {
    margin-bottom: 10px;
}

table#profile-appointment {
    width: 100%;
}

table#profile-appointment td.date {
    width: 150px;
    vertical-align: top;
    font-family: 'Roboto', serif;
    font-weight: bold;
}

table#profile-appointment td.time {
    width: 70px;
    vertical-align: top;
    font-family: 'Roboto', serif;
    font-weight: bold;
}

table#profile-appointment td.doctor {
    width: 150px;
    vertical-align: top;
}

table#profile-appointment td.reason {
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
    vertical-align: top;
}

table#profile-appointment td.status-symbol {
    vertical-align: top;
    width: 20px;
}

.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

/* PROFILE PAGE STATUS LEGEND */
.status-legend {
    text-align: center;
    margin-bottom: 20px;
}

.status-legend .item {
    display: inline-block;
    color: var(--border-color);
}

.status-legend .item:not(:last-child) {
    margin-right: 50px;
}

.status-legend .item .icon {
    display: inline-block;
    width: 25px;
}

/* ADD APPOINTMENT PAGE */
.add-appointment {
    text-align: center;
}

.add-appointment .time-input {
    display: inline-block;
    margin-bottom: 20px;
}

.add-appointment .time-input .input {
    width: 30px;
    margin: 5px;
}


/* OTHER */
.page-width {
    max-width: 1000px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.border-box {
    padding: 20px;
    margin: 20px;
    border: var(--main-border);
}

.border-box .box-title {
    font-size: 20px;
    font-weight: bolder;
    color: var(--border-color);
    margin-bottom: 20px;
    text-align: center;
    border-bottom: var(--main-border);
}

.border-box .box-title:not(:first-child) {
    margin-top: 20px;
}

.clickable {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}