:root {
    --main-color: #2cc0a6;
    --main-color-dark: #2db19a;
    --second-color: #007bff;
    --confirmed-color: #007bff;
    --not-confirmed-color: #ffe30c;
    --main-border: 1px solid var(--main-grey);
    --main-grey: #c5c5c5;
    --background-color: whitesmoke;
    --main-font: 'Roboto', serif;
    --box-padding: 20px;
}

header {
    background: var(--main-color);
    font-size: 30px;
    color: white;
    font-family: var(--main-font);
    font-weight: bold;
    text-align: left;
    height: 70px;
}

footer {
    background: var(--main-color);
    font-size: 10px;
    color: white;
    font-family: var(--main-font);
    font-weight: lighter;
    text-align: center;
}

article {
    min-height: 500px;
    margin: 0 auto;
    overflow: hidden;
    background: var(--background-color);
}

/* BOOTSTRAP OVERRIDE */
.btn-outline-primary {
    color: var(--second-color);
    background-color: white;
    border-color: var(--second-color);
}

.btn-primary {
    border-radius: 0px;
    min-width: 100px;
    padding: 8px 40px;
    color: white;
    background-color: var(--second-color);
    margin-top: 20px;
}

/* MODAL */
.modal-content {
    border-radius: 0px;
    border-width: 0px;
    width: 700px;
}

.modal-header {
    border-bottom: 0px;
    padding: var(--box-padding);
}

.modal-dialog {
    position: absolute;
    top: 20%;
    left: calc(50% - 350px);
}

/* HEADER */
header .logo {
    vertical-align: center;
    height: 70px;
    padding: 10px;
    display: inline-block;
}

header .text {
    color: white;
    display: inline-block;
}

/* BORDER BOX */
.border-box {
    padding: var(--box-padding);
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
}

.inline-box {
    display: inline-block;
}

.inline-box:not(:last-of-type) {
    margin-right: 20px;
}

.box-title {
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--main-grey);
    margin-bottom: 20px;
    text-align: left;
    border-bottom: var(--main-border);
}

.border-box .box-title:not(:first-child) {
    margin-top: 20px;
}

/* OTHER */
.page-width {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.width-400px {
    width: 400px;
}

.width-620px {
    width: 620px;
}

.width-auto {
    width: 100%;
}

.clickable {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* HOME PAGE */
.home {
    background: var(--main-color);
    position: relative;
    height: 300px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: var(--main-font);
}

.home .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-icon {
    height: 80px;
}

/* DOCTOR LIST PAGE */
.doctor-list-header {
    background: var(--main-color);
    padding: 20px;
}

.specialty-drop-down {
    width: 300px;
}

.doctor-list {
    max-height: 200px;
}

.doctor-list .doctor-name {
    font-size: 20px;
    display: inline-block;
}

.doctor-list .doctor-avatar {
    height: 100px;
    border-radius: 50%;
    border-width: 2px;
}

.doctor-list .doctor-info {
    vertical-align: top;
    display: inline-block;
    padding-left: 10px;
    font-size: 15px;
}

/* APPOINTMENT TABLE */
.appointment-table {
    margin: auto;
    display: table;
}

.appointment-table .arrows {
    height: 20px;
    margin-top: 15px;
}

.appointment-table .appointments {
    display: inline-flex;
}

.appointments-on-day {
    text-align: center;
    vertical-align: top;
    margin: 5px;
    width: 110px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.appointments-on-day .date {
    font-size: 15px;
    font-stretch: expanded;
    font-family: var(--main-font);
    padding: 10px;
}

.appointments-on-day .weekday {
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    background: var(--background-color);
}

.appointments-on-day .weekend {
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    background: var(--main-grey);
}

.appointment {
    display: inline-block;
    padding: 2px;
    margin: 5px;
    font-size: 15px;
    line-height: 1.42857143;
    text-align: center;
    border-radius: 4px;
    width: 80px;
    horiz-align: center;
    font-family: var(--main-font);
}

.available {
    color: var(--second-color);
    background: white;
}

.not-available {
    color: white;
    background: var(--second-color);
}

.not-available-confirmed {
    color: white;
    background: var(--confirmed-color);
    border: 0px;
}

.not-available-not-confirmed {
    color: white;
    background: var(--not-confirmed-color);
    border: 0px;
}

.appointments-on-day .add-btn {
    height: 30px;
    margin: 10px;
}

.appointment-details {
    width: 100%;
    padding: 5px;
}

.description {
    text-align: center;
    color: var(--main-grey);
}

/* PROFILE PAGE*/
.profile .avatar {
    height: 150px;
    border-radius: 50%;
    border-width: 2px;
}

.profile .name {
    font-size: 30px;
    padding-right: 10px;
}

table#profile-info th {
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: normal;
    vertical-align: bottom;
}

table#profile-info tr {
    border-bottom: 1px solid var(--main-grey);
    height: 35px;
    vertical-align: bottom;
}

.profile .info {
    vertical-align: top;
    display: inline-block;
    padding-left: 10px;
    font-size: 15px;
}

.profile .info .title {
    width: 120px;
}

/* DOCTOR PROFILE PAGE */
.doctor .specialty {
    font-size: 15px;
}

/* PROFILE PAGE APPOINTMENT LIST */
.profile .appointment-list {
    background: var(--background-color);
    padding: 20px;
    width: 100%;
}

.profile .appointment-list .appointment {
    padding: 5px;
    width: 100%;
    background: white;
}

.appointment:not(:last-of-type) {
    margin-bottom: 10px;
}

table#profile-appointment {
    width: 100%;
}

table#profile-appointment td.date {
    width: 150px;
    vertical-align: top;
    font-family: 'Roboto', serif;
    font-weight: bold;
}

table#profile-appointment td.time {
    width: 70px;
    vertical-align: top;
    font-family: 'Roboto', serif;
    font-weight: bold;
}

table#profile-appointment td.doctor {
    width: 150px;
    vertical-align: top;
}

table#profile-appointment td.reason {
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
    vertical-align: top;
}

table#profile-appointment td.status-symbol {
    vertical-align: top;
    width: 20px;
}

.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

/* PROFILE PAGE STATUS LEGEND */
.status-legend {
    text-align: center;
    margin-bottom: 20px;
}

.status-legend .item {
    display: inline-block;
    color: var(--main-grey);
}

.status-legend .item:not(:last-child) {
    margin-right: 50px;
}

.status-legend .item .icon {
    display: inline-block;
    width: 25px;
}

/* ADD APPOINTMENT PAGE */
.add-appointment {
    text-align: left;
}

.add-appointment .time-input {
    display: inline-block;
}

.add-appointment .time-input:first-of-type {
    margin-left: 0;
}

.add-appointment .time-input .dropdown {
    border-radius: 0;
    padding: 3px 3px;
    width: 50px;
    margin: 5px;
    font-size: 15px;
}

.add-appointment .notification {
    font-size: 15px;
    font-weight: normal;
    color: var(--second-color);
    height: 20px;
}

/* DOCTOR INFORMATION */
.doctor-info .avatar {
    height: 50px;
    border-radius: 50%;
    vertical-align: top;
}

.doctor-info .info {
    display: inline-block;
    padding-left: 10px;
}

.doctor-info .name {
}

/* APPOINTMENT INFORMATION */
.appointment-info {
    margin-left: calc(50% - 90px);
}

.appointment-info .icon {
    width: 90px;
    vertical-align: top;
}

.appointment-info .info {
    display: inline-block;
    padding-left: 10px;
    text-align: left;
    font-size: 24px;
    width: calc(100% - 130px);
    margin-right: 40px;
}

.appointment-info .info .weekday {
    font-size: 18px;
    font-weight: normal;
    color: var(--main-grey);
}

.appointment-info .info .status {
    width: 30px;
}

.appointment-info .info .title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
    color: var(--main-grey);
}

.appointment-info .info .reason {
    font-size: 18px;
    text-align: justify;
}

.appointment-info .info .link {
    font-size: 15px;
    font-weight: normal;
    color: var(--second-color);
    height: 20px;
}

form#book-appointment {
    margin-left: calc(50% - 100px);
}
form#book-appointment label{
    width: 100px;
    text-align: right;
    color: var(--main-grey);
    vertical-align: top;
    padding-top: 2px;
}
form#book-appointment input#patientId, textarea#reason{
    margin-left: 10px;
    width: calc(100% - 110px);
}
form#book-appointment textarea#reason{
    height: 200px;
}
form#book-appointment input#book-btn{
    margin-left: 110px;
}